<tr id="<%= dom_id product %>" class="border-b hover:bg-gray-100">
  <td class="py-4 px-6 text-gray-800">
    <%= link_to product.name, product, class: "text-blue-500 hover:underline" %>
  </td>
</tr>
